---
import DCard from "@/components/DCard/DCard.astro"
import MainLayout from "@/layouts/MainLayout.astro"


const doctors = [{id: 1, slug:'daria-evstafieva', name: 'Евстафьева Дарья Алексеевна', type: 'Главный врач, врач-психиатр, детский психиатр', img: '/img/team/evstafieva/Daria_Evstafieva.jpg'}]
---







<MainLayout title="Детская психиатрия в Саратове" description="Детская психиатрия в Саратове">
  <section class="child_psy">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="breadcrumbs">
            <ul>
              <li><a href="/">Главная</a></li>
              <li><a href="#">Направления</a></li>
              <li><a class="active" href={`/napravleniya/detskaya-psihiatriya`}>Детская психиатрия</a></li>
            </ul>
          </div>
        </div>
        <div class="col-12">
          <div class="title">
            <h1>Детская психиатрия</h1>
          </div>
        </div>
      </div>
      <div class="row content_wrapper">
        
          <div class="col-12 col-lg-6">
            <div class="psy_img">
              <img src="/img/directions/child_psy.jpg" alt="">
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="psy_text">
              <p>Работа врача-психиатра с ребенком или подростком — это многогранный и деликатный процесс, который требует особого подхода и понимания. Психиатр, работающий с молодыми пациентами, использует различные методы и техники, чтобы создать доверительную атмосферу и помочь ребенку или подростку справиться с их проблемами.</p>
              <p>Этапы работы психиатра с ребенком или подростком:</p>
              <p><strong>Первичная консультация:</strong> На первом приеме психиатр проводит беседу с ребенком и его родителями. Важно установить контакт и создать безопасную обстановку, чтобы ребенок чувствовал себя комфортно и мог открыто говорить о своих переживаниях.</p>
            </div>
          </div>
          <div class="col-12">
            <div class="psy_text">
              <p><strong>Сбор анамнеза:</strong> Врач собирает информацию о развитии ребенка, его семейной обстановке, социальных взаимодействиях и любых предыдущих медицинских или психологических проблемах. Это помогает понять контекст и причины текущих трудностей.</p>
              <p><strong>Психологическое тестирование:</strong> Психиатр , если это необходимо может использовать стандартизированные тесты и опросники для оценки эмоционального состояния, поведения и когнитивных функций ребенка. Эти инструменты помогают выявить возможные расстройства и определить их степень.</p>
              <p><strong>Работа с родителями:</strong> Психиатр также взаимодействует с родителями, предоставляя им рекомендации и советы по поддержке ребенка. Важно вовлекать семью в процесс лечения, так как она играет ключевую роль в восстановлении.</p>
              <p><strong>Разработка плана лечения:</strong> На основе собранной информации и проведенных оценок психиатр разрабатывает индивидуальный план лечения. Это может включать медикаментозное лечение и если , это необходимо ,врач психиатр может направить на семейную психотерапию и родителя и ребенка для того чтобы улучшить коммуникацию в семье.</p>
              <p><strong>Индивидуальные беседы:</strong> Врач проводит индивидуальные сессии с ребенком, где он может делиться своими мыслями и чувствами. Психиатр использует активное слушание и эмпатию, чтобы помочь ребенку выразить свои переживания.</p>
              <p>Психиатр регулярно проводит контрольные встречи, чтобы отслеживать прогресс ребенка и при необходимости корректировать план лечения. Это позволяет адаптироваться к изменениям в состоянии пациента и обеспечивать наилучшие результаты.</p>
              <p>Работа психиатра с детьми и подростками требует терпения, чуткости и профессионализма. Важно помнить, что каждый ребенок уникален, и подход к его лечению должен быть индивидуальным.</p>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="title">
            <h2>Специалисты</h2>
          </div>
        </div>
        {doctors.map(doctor => (
          <DCard name={doctor.name} type={doctor.type} imgSrc={doctor.img} id={doctor.id} slug={doctor.slug}/>
        ))}
      </div>
    </div>
  </section>
</MainLayout>



<style>
  .child_psy {
    margin-top: 94px;
  }
  .child_psy .content_wrapper {
    padding: 20px 15px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 2px 4px 8px #223c5033;
    margin-bottom: 30px;
  }

  .child_psy .content_wrapper .psy_img{ 
    border-radius: 9px;
    overflow: hidden;
  }

  .child_psy .content_wrapper .psy_img img{ 
    width: 100%;
    height: auto;
    border-radius: 9px;
  }

  .child_psy .content_wrapper .psy_text{
    
  }

  .child_psy .content_wrapper .psy_text p{
    font-size: 16px;
    color: #666a6d;
    text-align: left;
    margin-bottom: 15px;
  }
</style>